body {
    color: rgb(58, 53, 56);
}

h1 {
    text-align: center;
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

.container, header {
    width: 70%;
    padding: 1rem;
    /* border: 1px solid rgb(27, 26, 26); */
    margin: 0 auto;
    
}

header {
    background-color: #33A;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.75);
}