body {
    color: rgb(58, 53, 56);
}

h1 {
    text-align: center;
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 70%;
    padding: 1rem;
    border: 1px solid rgb(27, 26, 26);
    margin: 0 auto;
    
}